#hero {
  background-image: url("https://i.postimg.cc/k5w8VKYn/15-Presentation-Background-1-1.png");
  background-position: center;
  width: 450px;
  height: 700px;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 25px 25px 25px 25px;
}

#hero h1 {
  margin: 0px;
  padding: 5px;
  color: cornsilk;
}


#hero h2 {
  margin: 0;
  padding: 5px;
}

#hero p {
  margin: 0;
  padding: 14px;
  color: cornsilk;
}
