@import "./hero.css";
@import "./variables.css";

* {
  box-sizing: border-box;
}

.body {
  background-color: azure;
  font-family: var(--primary-font-family);
  display: flex;
  /* lo centra horizontalmente */
  justify-content: center;
  /* lo centra verticalmente */
  align-items: center;
  margin: 100px;
}
