@import "hero.css"; 

.body {
  background-color: brown;
  font-family: "EB Garamond", serif;
  display:flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* margin: 1.5ch 1.5ch 1.5ch 1.5ch; */
  justify-content: center;
  align-items: center;
}

